<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Agregar_Orden</servlet-name>
        <servlet-class>Servlets.Agregar_Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Platillo_Orden</servlet-name>
        <servlet-class>Servlets.Agregar_Platillo_Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Platillo</servlet-name>
        <servlet-class>Servlets.Editar_Platillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Editar_Platillo</servlet-name>
        <servlet-class>Servlets.Eliminar_Editar_Platillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entrega_Orden</servlet-name>
        <servlet-class>Servlets.Entrega_Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Negocio</servlet-name>
        <servlet-class>Servlets.Login_Negocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Negocio</servlet-name>
        <servlet-class>Servlets.Logout_Negocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_Negocio</servlet-name>
        <servlet-class>Servlets.Registro_Negocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_Platillo</servlet-name>
        <servlet-class>Servlets.Registro_Platillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar_Token_Inicial</servlet-name>
        <servlet-class>Servlets.Validar_Token_Inicial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar_Token_Administracion</servlet-name>
        <servlet-class>Servlets.Validar_Token_Administracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeRegisterDriverListener</servlet-name>
        <servlet-class>Servlets.DeRegisterDriverListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_Pago</servlet-name>
        <servlet-class>Servlets.Registro_Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Pago</servlet-name>
        <servlet-class>Servlets.Eliminar_Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Tiempo</servlet-name>
        <servlet-class>Servlets.Agregar_Tiempo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarDelegacion</servlet-name>
        <servlet-class>Servlets.SeleccionarDelegacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_Cliente</servlet-name>
        <servlet-class>Servlets.Agregar_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Elegir_Cliente</servlet-name>
        <servlet-class>Servlets.Elegir_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial_Orden</servlet-name>
        <servlet-class>Servlets.Historial_Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_Completa</servlet-name>
        <servlet-class>Servlets.Busqueda_Completa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Agregar_Orden</servlet-name>
        <url-pattern>/Agregar_Orden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Platillo_Orden</servlet-name>
        <url-pattern>/Agregar_Platillo_Orden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Platillo</servlet-name>
        <url-pattern>/Editar_Platillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Editar_Platillo</servlet-name>
        <url-pattern>/Eliminar_Editar_Platillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entrega_Orden</servlet-name>
        <url-pattern>/Entrega_Orden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Negocio</servlet-name>
        <url-pattern>/Login_Negocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Negocio</servlet-name>
        <url-pattern>/Logout_Negocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_Negocio</servlet-name>
        <url-pattern>/Registro_Negocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_Platillo</servlet-name>
        <url-pattern>/Registro_Platillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar_Token_Inicial</servlet-name>
        <url-pattern>/Validar_Token_Inicial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar_Token_Administracion</servlet-name>
        <url-pattern>/Validar_Token_Administracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeRegisterDriverListener</servlet-name>
        <url-pattern>/DeRegisterDriverListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_Pago</servlet-name>
        <url-pattern>/Registro_Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Pago</servlet-name>
        <url-pattern>/Eliminar_Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Tiempo</servlet-name>
        <url-pattern>/Agregar_Tiempo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarDelegacion</servlet-name>
        <url-pattern>/SeleccionarDelegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_Cliente</servlet-name>
        <url-pattern>/Agregar_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Elegir_Cliente</servlet-name>
        <url-pattern>/Elegir_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial_Orden</servlet-name>
        <url-pattern>/Historial_Orden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_Completa</servlet-name>
        <url-pattern>/Busqueda_Completa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>
</web-app>
